# Python virtual environments
.venv/
venv/
py310_venv/
nodeenv/
nodevenv/

# Node modules
node_modules/

# Vite
.vite/
dist/

# Data files
data/
wildfire_output/
merged_file_unique.csv
# *.xlsx    # Uncomment if you want to ignore all Excel files

# Results files
simulation_results/

# Scripts (ignored intentionally)
check_fips.py
data_cleaning.py
.DS_Store

# Secrets
secrets/
.env

# Miscellaneous
__pycache__/
old_*
.resources.md

# VSCode settings
.vscode/